<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838385417135-572idbs7ofmmq9u1i1pn8rh4capbbpk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838385417135-572idbs7ofmmq9u1i1pn8rh4capbbpk1</string>
	<key>API_KEY</key>
	<string>AIzaSyBmtbDob5OI7SSJtXtvNhWZyOa5lUAjrKY</string>
	<key>GCM_SENDER_ID</key>
	<string>838385417135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.5chau.personnel</string>
	<key>PROJECT_ID</key>
	<string>chaumedia-a0626</string>
	<key>STORAGE_BUCKET</key>
	<string>chaumedia-a0626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838385417135:ios:d1fecf9f17de7fa2eacd5a</string>
</dict>
</plist>